
.global-loader-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
}

.gold-spinner {
  width: 80px;
  height: 80px;
  border: 8px solid #cdab50;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
